@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#cabecalho{
    background: center no-repeat url("./base/img/img-01-banner-1280×640.png");
    background-size: cover ;
    width: 100%;
    height: 100px;
    position: relative;
    color: white;
}

h1{
    color: #fff;
    float: left;
    position: absolute;
    top: 40%;
    left: 10%;
}

nav{
    float: right;
    position: absolute;
    top: 10%;
    right: 10%;
}
li{
    display: inline-block;
    margin-left: 35px;
}
img{
    width: 50px;
}


