@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Definições de estilos globais */
:root {
    --fonte-principal: "Roboto", sans-serif;
    --cor-fundo-conteudo: #1E2836;
}
  
/*
    CSS-RESET
*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho{
    background: center no-repeat url("../img/img-01-banner-1280×640.png");
    background-size: cover;
    width: 100%;
    height: 180px;
    position: relative;

    h1{
        color: #fff;
        float: left;
        position: absolute;
        top: 40%;
        left: 10%;
    }

    nav{
        float: right;
        position: absolute;
        top: 30%;
        right: 20%;
    }

    .link{
        display: inline;
    }

    .link a{
        color: #fff;
        text-decoration: none;
    }
}

 #cabecalho h1{
    color: #fff;
} 

/* Sessão Sobre mim */

#sessao-about {
    background-color: var(--cor-fundo-conteudo);
    width: 30%;
    
}

#sessao-about h2 {
    color: #fff;
    font-size: 2em;
    font-family: var(--fonte-principal);
}

#imagem-about {
    width: 45px;
    float: right;
}

#sessao-about p {
    color: white;
    font-size: 0.9em;
    font-family: var(--fonte-principal);
}