/*
    CSS-RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.3rem;
}

body {
  height: 100vh;
  display: flex;
}

.cadastro {
  flex: 1;
  background-color: #404854;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  gap: 2rem;
}

.inputs-wrapper,
.signup-form {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-form {
  gap: 2rem;
}

.input-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  flex: 1;
  padding: 0rem 0.3rem;
  border: 0.3rem solid #cecaca;
  max-height: 4rem;
  color: black;
}

::placeholder {
  transform: translateY(0.1rem);
  color: #cdbebe;
}

.labelinput {
  color: red;
  font-size: 0.8rem;
}

.button-wrapper {
  align-self: center;
  width: 20%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.submit-button {
  flex: 1;
  min-height: 1rem;
  background-color: #1e2836;
  border: 3px solid #ffffff;
  font-weight: 700;
  padding: 0.5rem 3rem;
}
