
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho{
    background: center no-repeat url(../img/banner-6617550_1280.png);
    background-size: cover;
    width: 100%;
    height: 180px;
    position: relative;

    h1{
        color: #fff;
        float: left;
        position: absolute;
        top: 40%;
        left: 10%;
    }

    nav{
        float: right;
        position: absolute;
        top: 30%;
        right: 20%;
    }

    .link{
        display: inline;
    }

    .link a{
        color: #fff;
        text-decoration: none;
    }
}