* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #1e2836;
}

/* HEADER */

#cabecalho{
    color: #FFFFFF;
    background-image: url("../img/banner-1280x640.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    font-family: "Robot", sans-serif;
    clear: both;

    & h1 {
        font-weight: bold;
        float: left;
        display: inline;
    }

    nav {
        float: right;
        display: inline;

         ul{
            list-style: none;
            width: 100%;

            & .link{
                display: inline;
            }
        }
    }
}